<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Cancelled - Jara Beach Resort</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      margin: 0;
      padding: 0;
    "
  >
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <!-- <div
        style="
          background-color: rgb(139, 0, 0);
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 40px;
          text-align: right;
          padding: 5px;
          font-size: 12px;
        "
      >
        <img
          src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/jarabeachlogo.png?raw=true"
          alt="Jara Beach Resort Logo"
          style="width: 120px; height: auto"
        />
        <h1 style="margin: 0; font-size: 18px">BOOKING CANCELLED</h1>
      </div> -->
      <table
        style="
          width: 100%;
          background-color: rgb(139, 0, 0);
          color: #fff;
          text-align: right;
          padding: 5px;
          font-size: 12px;
        "
      >
        <tr>
          <td style="width: 120px; padding: 5px">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/jarabeachlogo.png?raw=true"
              alt="Jara Beach Resort Logo"
              style="width: 120px; height: auto"
            />
          </td>
          <td style="padding: 5px; text-align: right">
            <h1 style="margin: 0; font-size: 18px">BOOKING CANCELLED!</h1>
          </td>
        </tr>
      </table>
      <img
        src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/banner.png?raw=true"
        alt=""
        style="width: 100%; height: auto"
      />
      <div style="padding: 20px; height: auto">
        <p>Dear {{name}}, {{email}},</p>
        <p>
          This is to inform you that your booking #{{id}} has been cancelled.
        </p>
        <div style="background-color: #f4f4f4; padding: 15px; margin-top: 20px">
          <h2 style="color: #0000ff; margin-top: 0">BOOKING DETAILS</h2>
          <table style="width: 100%">
            <tr>
              <td><strong>Booking Type:</strong></td>
              <td>{{bookingType}}</td>
            </tr>
            <tr>
              <td><strong>Check In:</strong></td>
              <td>{{checkIn}}</td>
            </tr>
            <tr>
              <td><strong>Check Out:</strong></td>
              <td>{{checkOut}}</td>
            </tr>
            <tr>
              <td><strong>Number of Guests:</strong></td>
              <td>{{numberOfGuests}}</td>
            </tr>
            <tr>
              <td><strong>Number of Nights:</strong></td>
              <td>{{numberOfNights}}</td>
            </tr>
            <tr>
              <td><strong>Sub Total:</strong></td>
              <td>₦{{subTotal}}</td>
            </tr>
            <tr>
              <td><strong>Multi-night discount applied:</strong></td>
              <td>₦{{multiNightDiscount}}</td>
            </tr>

            <tr>
              <td><strong>VAT and Consumption Tax (12.5%):</strong></td>
              <td>₦{{vat}}</td>
            </tr>
            <tr>
              <td><strong>Total Cost (PAYABLE):</strong></td>
              <td>₦{{totalCost}}</td>
            </tr>
          </table>
        </div>
        <p>
          Please rebook through the
          <a href="https://booking.jarabeachresort.com/new/">website</a>. If you
          require any assistance please email
          <a href="mailto:bookings@jarabeachresort.com"
            >bookings@jarabeachresort.com</a
          >
          or call +234 908 798 1605, +234 708 067 1160 (call centre) or Whatsapp
          (text only) +234 916 191 4477 (text only).
        </p>
      </div>
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="margin-top: 20px"
      >
        <tr>
          <td width="33%" style="padding: 10px">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/email1.jpeg?raw=true"
              alt="Food"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              NIGERIA'S PREMIER AWARD-WINNING
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Nigeria's Premier Award-Winning, Family Run, All-Inclusive (food
              and drink) Beach Experience.
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>

          <td width="33%" style="padding: 10px">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/email2.jpeg?raw=true"
              alt="Sunset"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              EXCLUSIVE & SERENE ENVIRONMENT
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Open to Pre-Booked (paid) Visitors Only - No Walk-Ins. 17 Stunning
              En-Suite
              <a href="https://booking.jarabeachresort.com/new/overnight/guest"
                >Rooms</a
              >
              and
              <a href="https://booking.jarabeachresort.com/new/daypass/guest"
                >Day Pass</a
              >
              Visits.
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>

          <td width="33%" style="padding: 10px">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/teams.jpeg?raw=true"
              alt="Activities"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              ACTIVITIES & MEALS INCLUSIVE
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Three full meals (and snacks) await our overnight guests; a fusion
              of international favourites...
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>
        </tr>
      </table>
      <div
        style="
          background-color: #ff4136;
          color: white;
          padding: 10px;
          text-align: center;
          font-size: 12px;
        "
      >
        ADDRESS: Museyo Beach, Eleko, Lotu Street, Off Lekki Free Trade Zone
        Road, 105101
      </div>
    </div>
  </body>
</html>
