<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booking Confirmation</title>
  </head>
  <body
    style="
      font-family: Arial, sans-serif;
      line-height: 1.6;
      color: #333;
      margin: 0;
      padding: 0;
    "
  >
    <div
      class="container"
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      "
    >
      <table
        style="
          width: 100%;
          background-color: rgb(0, 128, 0);
          color: #fff;
          text-align: right;
          padding: 5px;
          font-size: 12px;
        "
      >
        <tr>
          <td style="width: 120px; padding: 5px">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/jarabeachlogo.png?raw=true"
              alt="Jara Beach Resort Logo"
              style="width: 120px; height: auto"
            />
          </td>
          <td style="padding: 5px; text-align: right">
            <h1 style="margin: 0; font-size: 18px">BOOKING UPDATED!</h1>
          </td>
        </tr>
      </table>
      <img
        src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/banner.png?raw=true"
        alt=""
        class="hero-image"
        style="width: 100%; height: auto"
      />
      <div class="content" style="padding: 20px">
        <p>Dear {{name}} ({{email}})</p>
        <p>your booking #{{id}} has been updated successfully.</p>
        <div
          class="booking-details"
          style="background-color: #f4f4f4; padding: 15px; margin-top: 20px"
        >
          <h2 style="color: #0000ff; margin-top: 0">BOOKING DETAILS</h2>
          <table style="width: 100%">
            <tr>
              <td style="padding: 5px 0"><strong>Rooms:</strong></td>
              <td style="padding: 5px 0">{{bookingType}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0"><strong>Check In:</strong></td>
              <td style="padding: 5px 0">{{checkIn}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0"><strong>Check Out:</strong></td>
              <td style="padding: 5px 0">{{checkOut}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0"><strong>Number of Guests:</strong></td>
              <td style="padding: 5px 0">{{numberOfGuests}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0"><strong>Number of Nights:</strong></td>
              <td style="padding: 5px 0">{{numberOfNights}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0"><strong>Sub Total:</strong></td>
              <td style="padding: 5px 0">₦{{subTotal}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0">
                <strong>Multi-night discount applied:</strong>
              </td>
              <td style="padding: 5px 0">₦{{multiNightDiscount}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0">
                <strong>VAT and Consumption Tax (12.5%):</strong>
              </td>
              <td style="padding: 5px 0">₦{{vat}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0">
                <strong>Total Cost:</strong>
              </td>
              <td style="padding: 5px 0">₦{{totalCost}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0">
                <strong>Previous Cost:</strong>
              </td>
              <td style="padding: 5px 0">₦{{previousCost}}</td>
            </tr>
            <tr>
              <td style="padding: 5px 0">
                <strong>Difference Paid:</strong>
              </td>
              <td style="padding: 5px 0">₦{{differenceToPay}}</td>
            </tr>
          </table>
        </div>
        <p>
          Thank you for booking with Jara Beach Resort. If you require any
          assistance please email
          <a href="mailto:bookings@jarabeachresort.com"
            >bookings@jarabeachresort.com</a
          >
          or call +234 908 798 1605, +234 708 067 1160 (call centre) or Whatsapp
          (text only) +234 916 191 4477 (text only).
        </p>
      </div>
      <table
        width="100%"
        cellpadding="0"
        cellspacing="0"
        border="0"
        style="margin-top: 2px"
      >
        <tr style="vertical-align: top">
          <td width="33%" style="padding: 10px; vertical-align: top">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/email1.jpeg?raw=true"
              alt="Food"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              NIGERIA'S PREMIER AWARD-WINNING
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Nigeria's Premier Award-Winning, Family Run, All-Inclusive (food
              and drink) Beach Experience.
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>

          <td width="33%" style="padding: 10px; vertical-align: top">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/email2.jpeg?raw=true"
              alt="Sunset"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              EXCLUSIVE & SERENE ENVIRONMENT
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Open to Pre-Booked (paid) Visitors Only - No Walk-Ins. 17 Stunning
              En-Suite
              <a href="https://booking.jarabeachresort.com/new/overnight/guest"
                >Rooms</a
              >
              and
              <a href="https://booking.jarabeachresort.com/new/daypass/guest"
                >Day Pass</a
              >
              Visits.
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>

          <td width="33%" style="padding: 10px; vertical-align: top">
            <img
              src="https://github.com/twentyFourDesign/JaraNewBuildBackend/blob/main/uploads/teams.jpeg?raw=true"
              alt="Activities"
              style="
                width: 100%;
                height: 150px;
                object-fit: cover;
                display: block;
              "
            />
            <h3 style="font-size: 14px; margin: 10px 0; text-align: left">
              ACTIVITIES & MEALS INCLUSIVE
            </h3>
            <p style="font-size: 12px; margin-bottom: 10px; text-align: left">
              Three full meals (and snacks) await our overnight guests; a fusion
              of international favourites...
            </p>
            <a
              href="https://www.jarabeachresort.com/"
              style="
                background-color: white;
                color: #0000ff;
                border: 1px solid #0000ff;
                padding: 5px 10px;
                text-decoration: none;
                font-size: 12px;
                text-align: center;
                display: inline-block;
                width: 90%;
              "
              >READ MORE</a
            >
          </td>
        </tr>
      </table>
      <div
        class="footer"
        style="
          background-color: rgb(0, 128, 0);
          color: white;
          padding: 10px;
          text-align: center;
          font-size: 16px;
        "
      >
        <p>
          ADDRESS: Museyo Beach, Eleko, Lotu Street, Off Lekki Free Trade Zone
          Road, 105101
        </p>
        <p style="font-size: 20px">
          <a
            href="https://www.google.com/maps/place/6%C2%B026'19.4%22N+3%C2%B051'50.6%22E/@6.4387213,3.8618541,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x0!8m2!3d6.4387213!4d3.8640428?hl=en"
            >Google Map</a
          >
          and
          <a
            href="https://www.google.com/maps/@6.4388409,3.8640606,3a,75y,173.14h,78.37t/data=!3m6!1e1!3m4!1sTKU4gHKBsT8Mi4MnOx0-MA!2e0!7i13312!8i6656"
            >Street View</a
          >
          -
          <a href="https://www.jarabeachresort.com/photo-directions"
            >Photo Directions</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
